/* = GLOBAL = */

/* = ENTÊTE = */
/* == NAVIGATION  == **/
/*** === GLOBAL === ***/
.tify_forum-header_navigation{
	position:relative;
	background-color:#E4E4E4;
	margin-bottom:2em;
	color:#333;
	height:50px;
	font-size:14px;
	line-height:1;
}
.tify_forum-header_navigation a{
	color:#333;
}
.tify_forum-header_navigation section{}

/*** === FIL D'ARIANE === ***/
.tify_forum-header_breadcrumb{
	position:absolute;
	top:50%; right:300px; left:10px;
	margin-top:-7px;
}
.tify_forum-header_breadcrumb .tify_forum-breadcrumb{
	margin:0; padding:0;
	list-style-type:none;
}
.tify_forum-header_breadcrumb .tify_forum-breadcrumb > li + li::before {
    padding: 0 5px;
    content: "/\00a0";
}
.tify_forum-header_breadcrumb .tify_forum-breadcrumb > li{	
    display: inline-block;
}

/*** === GESTION DE COMPTE === ***/
.tify_forum-header_account{
	position:absolute;
	top:50%;right:150px;
	margin-top:-7px;
}

/*** === CONNECTION/DECONNECTION === ***/
.tify_forum-header_connect{
	position:absolute;
	top:50%; right:10px;
	margin-top:-7px;
}

/* = CONTENU DE LA PAGE = */
/** == NOTIFICATIONS == **/
.tify_forum-content .notice-info{
	border-left:solid 3px #3498db;
	background-color:#F6F6F6;	
}
.tify_forum-content .notice-error{
	border-left:solid 3px #dc3232;
	background-color:#F6F6F6;	
}
.tify_forum-content .notice-info > *,
.tify_forum-content .notice-error > *{
	padding:10px;
	margin-bottom:20px;
}

/** ==  LISTE == */
.tify_forum-topic_list > .tbody > .tr{
	border-bottom:solid 1px #CCC;
}
.tify_forum-topic_list > .tbody > .tr:last-child{
	border-bottom:none;
}
.tify_forum-topic_list > .tbody > .tr:nth-child(2n) > .td{
	background-color:#F4F4F4;
}

/** == PAGINATION == **/
.tify_forum-content .tify_forum-pagination.tify_pagination > li > a,
.tify_forum-content .tify_forum-pagination.tify_pagination > li > span{
	background-color: #E4E4E4;
    border-color: #E4E4E4;
    color: #333;
}
.tify_forum-content .tify_forum-pagination.tify_pagination > li > a:hover,
.tify_forum-content .tify_forum-pagination.tify_pagination > li > a:focus, 
.tify_forum-content .tify_forum-pagination.tify_pagination > li.active > a, 
.tify_forum-content .tify_forum-pagination.tify_pagination > li.active > span, 
.tify_forum-content .tify_forum-pagination.tify_pagination > li.active > a:hover, 
.tify_forum-content .tify_forum-pagination.tify_pagination > li.active > a:focus {
    background-color: #888;
    border-color: #888;
    color: #FFF;
}

/** == FORMULAIRE DE SUJET == **/
.tify_forum-topic_form label{
	display:block;
}
.tify_forum-topic_form input[type="text"]{
	width:100%;
	padding:0.3em 0.5em;
	font-size:14px;
	color:#333;
	border:solid 1px #DDD;
	height:auto;
	box-shadow:none;
	background-color:#FFF;
}
.tify_forum-topic_form .tify_control_quicktags_editor-wrapper{
	margin-bottom:15px;
}
.tify_forum-topic_form button[type="submit"]{
	background-color:#888;
	color:#FFF;
	border:none;
	padding:0.5em 3em;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
}
.tify_forum-topic_form button[type="submit"]:hover{
	background-color:#AAA;
}