#the-list .closed td, 
#the-list .closed th{
	background-color: #fef7f1;
}
#the-list tr.unapproved > *:first-child{
	border-left: 4px solid #DC3232;
}
#the-list tr.wait_approve > *:first-child{
	border-left: 4px solid #FFB900;
}
#the-list td.topic_author img {
    float: left;
    margin-right: 10px;
    margin-top: 1px;
}
#the-list .row-actions .approve, 
#the-list .row-actions .unapproved, 
#the-list .row-actions .unapprove{
    display:inline;
}