/* = LISTE DES CONTRIBUTIONS = */
.tify_forum-contrib_list{
	margin-bottom:30px;
}
.tify_forum-contrib_list > ol{
	
}
.tify_forum-contrib_list > ol > li{
	position:relative;
	padding-top:10px; padding-bottom:20px;
	border-bottom:solid 1px #DDD;
}
.tify_forum-contrib_list > ol > li:nth-child(2n){
	background-color:#F4F4F4;
}
.tify_forum-contrib_list > ol > li > ul{
	list-style-type:none;
}
.tify_forum-contrib_list > ol > li > ul > li::before,
.tify_forum-contrib_list > ol > li > ul > li::after{
	display:none;
}
.tify_forum-contrib_list > ol > li > ul > li.author{
	font-weight:bold;
	margin-bottom:3px;
}
.tify_forum-contrib_list > ol > li > ul > li.date{
	font-size:12px;
	margin-bottom:10px;
}
.tify_forum-contrib_list > ol > li > ul > li.unapproved{
	position:absolute;
	right:10px; top:5px;
	font-size:12px;
	font-weight:600;
	color:#DC3232;
}

/* = FORMULAIRE DE CONTRIBUTION = */
.tify_forum-contrib_form .tify_control_quicktags_editor-wrapper{
	margin-bottom:15px;
}
.tify_forum-contrib_form button[type="submit"]{
	background-color:#888;
	color:#FFF;
	border:none;
	padding:0.5em 3em;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
}
.tify_forum-contrib_form button[type="submit"]:hover{
	background-color:#AAA;
}
