#the-list tr.unapproved > *:first-child{
	border-left: 4px solid #d54e21;
}
#the-list .unapproved td{
	background-color: #fef7f1;
}
#the-list td.contrib_author img {
    float: left;
    margin-right: 10px;
    margin-top: 1px;
}
