.tify_forum-user_account_form .tify_form .notification > *{
	padding:10px;
	margin-bottom:20px;
	text-align:left;
	color:#333;
	font-size:14px;
	text-transform:none;
	font-weight:bold;
}
.tify_forum-user_account_form .tify_form .success.notification{
	border-left:solid 3px #87B756;
	background-color:#F6F6F6;
}
.tify_forum-user_account_form .tify_form .error.notification{
	border-left:solid 3px #dc3232;
	background-color:#F6F6F6;
}
.tify_forum-user_account_form .tify_form .fields-wrapper {
	background-color:#E4E4E4;
	margin:0;
	padding:20px;
}
.tify_forum-user_account_form .tify_form .field-wrapper .field-label{
	display:block;
}
.tify_forum-user_account_form .tify_form .field-wrapper input[type="text"],
.tify_forum-user_account_form .tify_form .field-wrapper input[type="password"]{
	width:100%;
	padding:0.3em 0.5em;
	font-size:14px;
	color:#333;
	border:solid 1px #DDD;
	height:auto;
	box-shadow:none;
	background-color:#FFF;
}
.tify_forum-user_account_form .tify_form .field-wrapper.field-wrapper-simple-captcha-image > img{
	border:solid 1px #DDD;
	border-right:none;
}
.tify_forum-user_account_form .tify_form .field-wrapper.field-wrapper-simple-captcha-image > input{
	width:5em;
	height:52px;
	border-left-color:#E4E4E4;
}
.tify_forum-user_account_form .tify_form .buttons-wrapper{
	background-color:#E4E4E4;
	margin:0;
	padding:20px;
}
.tify_forum-user_account_form .tify_form .buttons-wrapper button{
	background-color:#888;
	color:#FFF;
	border:none;
	padding:1em 3em;
	font-size:14px;
	text-align:center;
}
.tify_forum-user_account_form .tify_form .buttons-wrapper button:hover{
	background-color:#AAA;
}