.tify_forum-login{		
	width:300px;
	margin:0 auto;
}
.tify_forum-login_error{
	border-left:solid 3px #dc3232;
	background-color:#F6F6F6;	
}
.tify_forum-login_error > *{
	padding:10px;
	margin-bottom:20px;
}
.tify_forum-login_form{
	background-color:#E4E4E4;
	padding:20px;
	margin-bottom:20px;
}
.tify_forum-login_form p{
	margin-bottom:1em;
}
.tify_forum-login_form label{
	display:block;
}
.tify_forum-login_form input[type="text"],
.tify_forum-login_form input[type="password"]{
	width:100%;
	padding:0.3em 0.5em;
	font-size:14px;
	color:#333;
	border:solid 1px #DDD;
	height:auto;
	box-shadow:none;
	background-color:#FFF;
}
.tify_forum-login_form .tify_login-remember label{
	font-weight:normal;
}
.tify_forum-login_form .tify_login-remember input[type="checkbox"]{
	margin-right:5px;
}
.tify_forum-login_form .tify_login-submit{
	margin:0;
}
.tify_forum-login_form .tify_login-submit > input{
	background-color:#888;
	color:#FFF;
	border:none;
	padding:0.5em;
	font-size:14px;
	display:block;
	width:100%;
	text-align:center;
	text-transform:uppercase;
}
.tify_forum-login_form .tify_login-submit > input:hover{
	background-color:#AAA;
}